.background-container {

}

.mat-toolbar {
  background: rgb(19,196,31);
  color: #000;
}

.background-video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.toolbar-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.voice-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
