<section class="home-section">
<mat-toolbar color="primary">
  <p>Nessunismo</p>
  <ng-container *ngFor="let voice of listVoiceToolbar">
    <div class="voice-container" (onmouseover)="voice.active = !voice.active" (onmouseleave)="voice.active = !voice.active">
      <p>{{voice.description}}</p>
      <mat-divider *ngIf="voice.active"></mat-divider>
    </div>
    </ng-container>
</mat-toolbar>
  <div class="background-container">
    <video class="background-video" autoplay loop muted poster="./assets/Immagine/river.jpg">
      <source src="./assets/Video/river.mp4" type="video/mp4">
    </video>
  </div>
</section>
